.circle {
  height: 50px;
  width: 150px;
  background-color: red;
}

.square {
  height: 50px;
  width: 150px;
  background-color: red;
}

.rectangle {
  height: 50px;
  width: 150px;
  background-color: red;
}
